h1 {
  font-family: 'Raleway', sans-serif;
}

p {
    font-family: 'Raleway', sans-serif;
}

.head {
  font-style: normal;
  font-family: 'Raleway', sans-serif;
  max-width: 1440px;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: auto 1fr auto auto auto;
  grid-template-areas: "head-logo . ancre inscri";
  place-items: center;

}

.head-logo {
  grid-area: head-logo;
  padding: 2em;
}

.ancre {
  grid-area: ancre;
  display: flex;  
  flex-wrap: wrap-reverse;
  justify-content: flex-end;
  width: 100%;

}

.heberge {
  padding:2em;
  text-decoration: none;
  color: #0065FC;
}

.acti {
  padding:2em;
  text-decoration: none;
  color:black;
}

.acti:hover {
  text-decoration: none;
  color: #0065FC;

}
.heberge, .acti {
  text-align: center;
}
.inscri {
  grid-area: inscri;
  padding:2em;
  text-decoration: none;
  color: #0065FC;
  font-weight: 700;
  flex-wrap: nowrap;
  
}

.grid-item {
  width: 300px;
  height: 70px;
}