h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: black;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: black;
}

p {
  font-family: 'Raleway', sans-serif;
}
a {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: black;
}

.head {
  font-style: normal;
  font-family: 'Raleway', sans-serif;
  max-width: 1440px;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: auto 1fr auto auto auto;
  grid-template-areas: "head-logo . anchor signup";
  place-items: center;

}

.head-logo {
  grid-area: head-logo;
  padding: 2em;
}

.anchor {
  grid-area: anchor;
  display: flex;  
  flex-wrap: wrap-reverse;
  justify-content: flex-end;
  width: 100%;

}

.hostinganchor {
  padding:2em;
  text-decoration: none;
  color: #0065FC;
}

.activityanchor {
  padding:2em;
  text-decoration: none;
  color:black;
}

.activityanchor:hover {
  text-decoration: none;
  color: #0065FC;

}
.hosting, .activity {
  text-align: center;
}
.signup {
  grid-area: signup;
  padding:2em;
  text-decoration: none;
  color: #0065FC;
  font-weight: 700;
  flex-wrap: nowrap;
  
}

.search {
  display: inline-flex;
  overflow: auto;
  margin-bottom: 2rem;
}

.marker {
  background-color: #F2F2F2;
  padding: 0.7em 1em;
  border-radius: 32% 0 0 32%
}
.searchzone {
  font-family: "Raleway", "Sans serif";
  font-weight: bold;
  border: solid #F2F2F2;
  border-width: 1px 0 
}

.searchbutton {
  background-color: #0065FC;
  font-family: "Raleway", "Sans serif";
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0 21% 21% 0;
  padding: 0.5em 1em;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  
}

.filterstitel {
  font-family: "Raleway", "Sans serif";
  font-weight: bold;
  margin-right: 2rem;
  margin-bottom: 1rem;
}

.filtersbutton {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  border: 2px solid #d9d9d9;
  border-radius: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
  padding-right: 1rem;
}

.filtersbuttonicon {
  background-color: #DEEBFF;
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
  min-height: 3.5rem;
  min-width: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -2px;
  color: #0065FC;
  margin-right: 1rem;
}

.filtersbuttontitel {
  font-family: "Raleway", "Sans serif";
  font-weight: bold;
}

.infosearch {
  display: flex;
  align-items: baseline;
  margin: 2rem 0 2rem 0;
}

.infosearchicon {
  color: #0065FC;
  border-radius: 100%;
  height: 1.5rem;
  width: 1.5rem;
  min-height: 1.5rem;
  min-width: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -2px;
  margin-right: 0.5rem;
  border: solid 1px #d9d9d9;
}


.infosearchresult {
  font-family: "Raleway", "Sans serif";
}

.hosting {
  display: grid
}

.hostingselect {
  display: grid;
}
.hostingselectitem {
  display: grid;
}
.hostingselectionviewmore {
  font-family: "Raleway", "Sans serif";
  font-weight: bold;
  
}
.hostingpopular {
  display: grid;
}

.hostingselectnote {
  display: grid;
}

.bluestar {
  color: #0065FC;
}

.greystar {
  color: #F2F2F2;
}

.activity {
  display: grid;
}

.activityitem {
  display: flex;
}


.footer {
  width: 100%;
  background-color: #F2F2F2;
}

.footercolumn {
  display: flex;
  flex-direction: row;
  flex: row;
  margin: auto;
  gap: 5rem 5rem;
 
}

.footercolumnunit {
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 row-gap: 15px;
 margin: 1rem 5rem 2rem 2rem;
}

.footercolumnunitlink {

}

.footercolumnunitlink:hover {
  text-decoration: underline;
}